@{
  Layout = "Layout.cshtml";
}
@using Site.Models
@model AboutViewModel

<div class="pt-5 pb-12 antialiased">
  <div class="max-w-2xl mb-16">
    <p class="text-sm font-semibold text-gray-600 leading-relaxed">
      Learn more about me, my background, and what I'm currently focused on.
    </p>
  </div>
</div>
