
@{
    Layout = "Layout.cshtml";
}

@model IReadOnlyList<Site.Models.BlogPost>

<div class="pt-12 flex flex-col font-extrabold sm:font-normal">

    <div class="flex items-center gap-2">
    <h2 class="text-xl font-bold font-[noto] mb-0 text[#233038]">@Model.Count Posts</h2>
    <img src="/swytchserver/static/desk-lamp.svg" class="w-8 h-8" alt="lamp">
    </div>

  <div class="container pb-6 md:w-1/2 w-full mr-auto" >
    <p class="text-sm text-gray-600">
      It's not often that I write or have something worth sharing, but I've come to realize it is important 
      to recognize and articulate your own thoughts. On this page , I share my opinions, life experiences and technical learnings. Sometimes raw ,
      sometime refined but always my opinion and my alone.
    </p>
  </div>

    <div class="container pt-12 pb-10">
      <ul class="flex flex-col gap-2 pt-5">

        @foreach(var blog in @Model)
        {
          <li class="w-full md:w-2/3">
            <a href="/post/@blog.Slug"  hx-get="/post/@blog.Slug" hx-target="#response-content" hx-trigger="click"  hx-push-url="/post/@blog.Slug"
                hx-swap="innerHTML transition:true" class="flex justify-between items-center hover:underline">
              <span class="">@blog.Title</span>
              <span class="text-gray-500 text-sm">@blog.Date</span>
            </a>
          </li>
        }
      </ul>
    </div>

</div>



