@{
  Layout = "Layout.cshtml";
}
@using Site.Models
@model BlogViewModel

<div class="pt-5 pb-12 antialiased">
    <div class="max-w-2xl mb-16">
      <p class="text-sm font-semibold text-gray-600 leading-relaxed">
        Writing about software engineering, productivity, and the things I learn along the way.
      </p>
    </div>

    <div class="mt-12">
      <ul class="flex flex-col gap-8">
        @foreach(var blog in @Model.Blogs)
        {
          <li class="group">
            <a href="/post/@blog.Slug" hx-get="/post/@blog.Slug" hx-target="#response-content" hx-trigger="click" hx-push-url="/post/@blog.Slug" 
              hx-swap="innerHTML transition:true" class="flex flex-col sm:flex-row sm:items-baseline justify-between gap-1">
              <span class="text-sm text-blue-500 hover:underline group-hover:text-blue-500 font-semibold ">@blog.Title</span>
              <span class="text-sm text-gray-500 font-mono tabular-nums whitespace-nowrap">@blog.Date</span>
            </a>
          </li>
        }
      </ul>
    </div>
</div>
