<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gwalisam</title>
    <link href="/swytchserver/static/style.css" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@@4"></script> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/iosevka/1.14.1/iosevka.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-[#D3DBDD] font-[iosevka]">
    <header class=" container mx-auto max-w-4xl p-4">
      <nav class="hover-link flex items-center gap-3 pt-8 text-xl font-normal">
        <a href="/" class="hover:underline" >Home</a>
        <a href="/blog" class="hover:underline">Blog</a>
        <a href="/projects" class="hover:underline">Projects</a>
        <a href="/about" class="hover:underline">About</a>
      </nav>
    </header>
    <div class="container mx-auto max-w-4xl p-4"> 
        @RenderBody()
    </div>

    <footer class="container mx-auto mb-1 max-w-4xl pt-12">

      <div class="bg-[#233038] p-6 text-white">
      &copy; <span id="year">2025</span> Gwalisam<br>
      <span class="text-sm">Built with Swytch X Tailwindcss X HTMX </span><br>
     <span class = "text-sm hover:text-[#075056]">source code: <a href="https://github.com/Gwali-1/Site">https://github.com/Gwali-1/Site</a></span>
      </div>
    </footer>

  </body>
</html>
