
@{
    Layout = "Layout.cshtml";
}
@model List<Site.Models.Project>

      
<div class="pt-12 flex flex-col">

    <div class="flex items-center gap-2">
    <h2 class="text-xl font-bold mb-0 font-[noto] text[#233038]">Projects</h2>
    <img src="/swytchserver/static/pencil-sharpener.svg" class="w-8 h-8" alt="lamp">
    </div>

  <div class="container pb-6 md:w-1/2 w-full mr-auto" >
    <p class="text-sm text-gray-600">
      Stuff I have worked on or working on currently.
    </p>
  </div>

  <div class="container pt-12 pb-10">
    <ul class="flex flex-col gap-2 pt-5">

        @foreach(var project in @Model)
        {
          <li class="w-full hover:bg-gray-200 rounded-md">
            <a href="@project.Url" class="items-center">
            <div class="flex items-center gap-2">
              <p class="font-bold">@project.Name</p>
              <span class="text-gray-500 hover:text-gray-700 transition-colors duration-200 mt-0 ml-3">@project.Url</span>
              <!-- <img src="/swytchserver/static/project.svg" class="w-8 h-8" alt="lamp"> -->
            </div>
              <p class="text-sm text-gray-600 mb-2">@project.Description</p>
            </a>
          </li>

        }
    </ul>
  </div>

</div>
  
