@{
  Layout = "Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/swytchserver/static/style.css" rel="stylesheet">
    <title></title>
  </head>
  <body>

      
    <div class="pt-12 flex flex-col">

        <div class="flex items-center gap-2">
        <h2 class="text-xl font-bold mb-0 text[#233038]">Projects</h2>
        <img src="/swytchserver/static/pencil-sharpener.svg" class="w-8 h-8" alt="lamp">
        </div>

      <div class="container pb-6 md:w-1/2 w-full mr-auto" >
        <p class="text-sm text-gray-600">
          I hardly get project ideas, but this page highlights some personal projects I’ve managed to work on.
          The ones that made it past the idea stage that is ;D.
        </p>
      </div>

      <div class="container mx-auto pt-12 pb-10">
        <ul class="flex flex-col gap-2 pt-5">
          <li class="w-full hover:bg-gray-200 rounded-md">
            <a href="#" class="items-center">
            <div class="flex items-center gap-2">
              <p class="font-medium">Project title</p>
              <span class="text-gray-500 hover:text-gray-700 transition-colors duration-200 mt-0 ml-3">https://github.com/Gwali-1/Site</span>
              <!-- <img src="/swytchserver/static/project.svg" class="w-8 h-8" alt="lamp"> -->
            </div>
              <p class="text-sm text-gray-600 mb-2">oject, highlighting its key features or purpose.</p>
            </a>
          </li>
          <li class="w-full  hover:bg-gray-200 rounded-md">
            <a href="#" class="items-center">
            <div class="flex items-center gap-2">
              <p class="font-medium">Project title</p>
              <span class="text-gray-500 hover:text-gray-700 transition-colors duration-200 mt-0 ml-3">https://github.com/Gwali-1/Site</span>
            </div>
              <p class=" text-sm text-gray-600 mb-2">oject, highlighting its key features or purpose.</p>
            </a>
          </li>
          <li class="w-full   hover:bg-gray-200 rounded-md">
            <a href="#" class="items-center">
            <div class="flex items-center gap-2">
              <p class="font-medium">Project title</p>
              <span class="text-gray-500 hover:text-gray-700 transition-colors duration-200 mt-0 ml-3">https://github.com/Gwali-1/Site</span>
            </div>
              <p class="text-sm text-gray-600 mb-2">oject, highlighting its key features or purpose.</p>
            </a>
          </li>
        </ul>
      </div>

    </div>
  
  </body>
</html>



