@{
  Layout = "Layout.cshtml";
}
@using Site.Models
@model ProjectsViewModel

<div class="pt-5 pb-12 antialiased">
  <div class="max-w-2xl mb-16">
    <p class="text-sm font-semibold text-gray-600 leading-relaxed">
      A collection of tools, experiments, and applications I've built or am currently working on.
    </p>
  </div>

  <div class="mt-12">
    <ul class="grid grid-cols-1">
      @foreach (var project in @Model.Projects)
      {
        <li class="group">
          <a href="@project.Url" target="_blank" class="h-full  hover:underline">
            <h2 class="text-sm font-bold text-blue-500 group-hover:text-blue-600 p-0">@project.Name</h2>
          </a>
          <p class="text-sm font-semibold text-gray-600 leading-relaxed mb-6 flex-grow">@project.Description</p>

        </li>
      }
    </ul>
  </div>
</div>
